@import "../../css/colors.css";
@import "../../css/units.css";
@import "../../css/filters.css";

.setting-line {
    box-sizing: border-box;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    width: 100%;
    padding: 5%;
    cursor: pointer;
    height: 3rem;
    border-radius: .5rem;
    transition: background-color 0.5s;
}
.dropdown {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: bold;
    width: 100%;
    padding: 5%;
    cursor: pointer;
    height: 3rem;
    border-radius: .5rem;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: $looks-secondary;
}
.setting-line:hover {
  background-color: $looks-transparent;
}
.spacer {
    height: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid $form-border;
    width: 75%;
    justify-self: center;
}
.label {
    align-self: right;
    text-align: right;
    height: min-content;
    max-height: 2rem;
    max-width: 10rem;
}
.toggle {
    display: block;
    position: relative;
    left: 0px;
}